:root {
  --black: black;
  --white: white;
  --white-smoke: #f0f0f0;
}

body {
  color: var(--black);
  font-family: Manrope, sans-serif;
  font-size: 20px;
  line-height: 1.35;
}

h1 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 74px;
  font-weight: 600;
  line-height: 1;
}

h2 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 55px;
  font-weight: 600;
  line-height: 1;
}

h3 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 32px;
  font-weight: 600;
  line-height: 1;
}

h4 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 24px;
  font-weight: 600;
  line-height: 1;
}

h5 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 18px;
  font-weight: 700;
  line-height: 1;
}

h6 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
  font-weight: 700;
  line-height: 1;
}

p {
  margin-bottom: 0;
}

a {
  color: var(--black);
  text-decoration: none;
}

ul {
  margin-top: 8px;
  margin-bottom: 32px;
  padding-left: 20px;
  font-size: 18px;
}

li {
  margin-bottom: 4px;
}

img {
  max-width: 100%;
  display: inline-block;
}

blockquote {
  border-left: 5px solid #e2e2e2;
  margin-bottom: 10px;
  padding: 12px 20px;
  font-size: 20px;
  line-height: 1.5;
}

figure {
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  margin-top: 32px;
  margin-bottom: 32px;
}

figcaption {
  text-align: center;
  margin-top: 5px;
}

.page-padding {
  padding-left: 40px;
  padding-right: 40px;
}

.container-large {
  width: 100%;
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
}

.styleguide-header {
  border-bottom: 2px solid #e6e6e6;
  padding-top: 80px;
  padding-bottom: 80px;
}

.styleguide-section {
  grid-column-gap: 64px;
  grid-row-gap: 40px;
  grid-template-rows: auto;
  grid-template-columns: .5fr 1fr;
  grid-auto-columns: 1fr;
  align-items: start;
  padding-top: 32px;
  padding-bottom: 32px;
  display: grid;
}

.styleguide-section-type {
  background-color: var(--black);
  color: #fff;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding: 20px;
  font-size: 16px;
  font-weight: 600;
}

.styleguide-column {
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.heading-xlarge {
  font-size: 74px;
}

.heading-large {
  font-size: 55px;
}

.heading-medium {
  color: var(--black);
  font-size: 32px;
}

.heading-small {
  color: var(--black);
  font-size: 20px;
}

.heading-xsmall {
  color: var(--black);
  font-size: 16px;
}

.text-size-large {
  font-size: 30px;
  font-weight: 500;
  line-height: 1.3;
}

.text-size-medium {
  font-size: 24px;
  line-height: 1.2;
}

.text-size-small {
  font-size: 18px;
}

.text-size-tiny {
  font-size: 16px;
}

.text-style-strikethrough {
  text-decoration: line-through;
}

.text-style-italic {
  font-style: italic;
}

.text-style-muted {
  color: rgba(0, 0, 0, .6);
}

.text-style-allcaps {
  letter-spacing: 3px;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 1.3;
}

.text-style-nowrap {
  white-space: nowrap;
}

.text-style-link {
  text-decoration: underline;
}

.text-weight-xbold {
  font-weight: 800;
}

.text-weight-bold {
  font-weight: 700;
}

.text-weight-semibold {
  font-weight: 600;
}

.text-weight-medium {
  font-weight: 500;
}

.text-weight-normal {
  font-weight: 400;
}

.text-weight-light {
  font-weight: 300;
}

.text-align-left {
  text-align: left;
}

.text-align-center {
  text-align: center;
}

.text-align-right {
  text-align: right;
}

.text-color-grey {
  color: gray;
}

.text-color-white {
  color: #fff;
}

.text-color-black {
  color: var(--black);
}

.rich-text h1, .rich-text h2, .rich-text h3, .rich-text h4 {
  margin-top: 32px;
  margin-bottom: 16px;
}

.rich-text h5, .rich-text h6 {
  margin-top: 32px;
  margin-bottom: 12px;
}

.rich-text p {
  margin-bottom: 32px;
}

.rich-text blockquote {
  border-left-color: var(--black);
  margin-top: 32px;
  margin-bottom: 32px;
  font-size: 22px;
}

.button {
  background-color: var(--black);
  color: var(--white);
  text-align: center;
  border-radius: 3px;
  justify-content: center;
  align-items: center;
  padding: 18px 40px;
  font-weight: 500;
  line-height: 1;
  display: flex;
}

.styleguide-row {
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  grid-template-rows: auto;
  grid-template-columns: auto;
  grid-auto-columns: auto;
  grid-auto-flow: column;
  justify-content: start;
  display: grid;
}

.icon-small {
  height: 32px;
}

.icon-medium {
  height: 48px;
}

.icon-large {
  height: 64px;
}

.icon-1-1-small {
  width: 32px;
  height: 32px;
}

.icon-1-1-medium {
  width: 48px;
  height: 48px;
}

.icon-1-1-large {
  width: 64px;
  height: 64px;
}

.styleguide-classes {
  display: none;
}

.container-medium {
  width: 100%;
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
}

.container-small {
  width: 100%;
  max-width: 768px;
  margin-left: auto;
  margin-right: auto;
}

.max-width-full {
  width: 100%;
  max-width: none;
}

.max-width-xxlarge {
  width: 100%;
  max-width: 1280px;
}

.max-width-xlarge {
  width: 100%;
  max-width: 1024px;
}

.max-width-large {
  width: 100%;
  max-width: 768px;
}

.max-width-medium {
  width: 100%;
  max-width: 512px;
}

.max-width-small {
  width: 100%;
  max-width: 320px;
}

.max-width-xsmall {
  width: 100%;
  max-width: 256px;
}

.max-width-xxsmall {
  width: 100%;
  max-width: 192px;
}

.main-wrapper {
  overflow: hidden;
}

.main-wrapper.overflow-visible-desktop {
  overflow: visible;
}

.margin-0 {
  margin: 0;
}

.margin-tiny {
  margin: 2px;
}

.margin-xxsmall {
  margin: 4px;
}

.margin-xsmall {
  margin: 8px;
}

.margin-small {
  margin: 16px;
}

.margin-medium {
  margin: 32px;
}

.margin-large {
  margin: 48px;
}

.margin-xlarge {
  margin: 64px;
}

.margin-xxlarge {
  margin: 80px;
}

.margin-huge {
  margin: 96px;
}

.margin-xhuge {
  margin: 128px;
}

.margin-xxhuge {
  margin: 192px;
}

.padding-0 {
  padding: 0;
}

.padding-tiny {
  padding: 2px;
}

.padding-xxsmall {
  padding: 4px;
}

.padding-xsmall {
  padding: 8px;
}

.padding-small {
  padding: 16px;
}

.padding-medium {
  padding: 32px;
}

.padding-large {
  padding: 48px;
}

.padding-xlarge {
  padding: 64px;
}

.padding-xxlarge {
  padding: 80px;
}

.padding-huge {
  padding: 96px;
}

.padding-xhuge {
  padding: 128px;
}

.padding-xxhuge {
  padding: 192px;
}

.padding-top {
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
}

.padding-bottom {
  padding-top: 0;
  padding-left: 0;
  padding-right: 0;
}

.padding-left {
  padding-top: 0;
  padding-bottom: 0;
  padding-right: 0;
}

.padding-right {
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 0;
}

.padding-vertical {
  padding-left: 0;
  padding-right: 0;
}

.padding-horizontal {
  padding-top: 0;
  padding-bottom: 0;
}

.margin-top {
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
}

.margin-bottom {
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
}

.margin-left {
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 0;
}

.margin-right {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
}

.margin-vertical {
  margin-left: 0;
  margin-right: 0;
}

.margin-horizontal {
  margin-top: 0;
  margin-bottom: 0;
}

.hide {
  display: none;
}

.show {
  display: block;
}

.show-tablet, .show-mobile-landscape, .show-mobile-portrait {
  display: none;
}

.z-1 {
  z-index: 1;
  position: relative;
}

.z-2 {
  z-index: 2;
  position: relative;
}

.align-center {
  margin-left: auto;
  margin-right: auto;
}

.overflow-hidden {
  overflow: hidden;
}

.overflow-scroll {
  overflow: scroll;
}

.overflow-auto {
  overflow: auto;
}

.utility-page-wrap {
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
}

.utility-page-content {
  max-width: 450px;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.utility-page-form {
  flex-direction: column;
  align-items: stretch;
  display: flex;
}

.license-item {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 80px;
  display: grid;
}

.license-item.last {
  margin-bottom: 0;
}

.license-heading-text {
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 80px;
  display: flex;
}

.license-images-grid {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  align-items: center;
  justify-items: center;
  display: grid;
}

.license-image {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.inline-link {
  color: var(--black);
  border-bottom: 1px solid #000;
  transition: color .2s;
}

.inline-link:hover {
  color: rgba(0, 0, 0, .7);
}

.changelog-component {
  max-width: 650px;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.instructions-list {
  max-width: 650px;
}

.instructions-list-item {
  margin-bottom: 30px;
}

.instructions-component {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.home-hero-component {
  grid-column-gap: 60px;
  grid-row-gap: 70px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.home-hero-left {
  flex-direction: column;
  justify-content: space-between;
  display: flex;
}

.home-hero-heading-wrap {
  margin-bottom: 32px;
  margin-right: -51%;
  padding-top: 10px;
  padding-bottom: 10px;
  overflow: hidden;
}

.home-hero-right {
  flex-direction: column;
  align-items: flex-end;
  display: flex;
}

.home-hero-image-wrap {
  z-index: 1;
  width: 100%;
  margin-top: 200px;
  position: relative;
  overflow: hidden;
}

.home-hero-image {
  width: 100%;
  height: 750px;
  object-fit: cover;
}

.navbar {
  background-color: rgba(0, 0, 0, 0);
}

.navbar-inner {
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.navbar-logo {
  padding-left: 0;
}

.navbar-menu {
  grid-column-gap: 60px;
  align-items: center;
  display: flex;
}

.line {
  height: 1px;
  background-color: var(--black);
  opacity: .3;
  position: absolute;
  top: auto;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.hover-line {
  height: 2px;
  background-color: var(--black);
  position: absolute;
  top: auto;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.services-component {
  grid-column-gap: 100px;
  grid-row-gap: 90px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.inner-div {
  flex-direction: column;
  align-items: flex-start;
  display: flex;
}

.services-item {
  padding-bottom: 14px;
  position: relative;
}

.services-items-wrap {
  width: 100%;
  grid-row-gap: 50px;
  flex-direction: column;
  display: flex;
}

.experience-item {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-rows: auto;
  grid-template-columns: 1.5fr 1fr;
  grid-auto-columns: 1fr;
  align-items: end;
  padding-bottom: 14px;
  display: grid;
  position: relative;
}

.work-cms-list {
  grid-row-gap: 120px;
  flex-direction: column;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: flex;
}

.work-list-cms-item {
  grid-row-gap: 120px;
  flex-direction: column;
}

.work-list-item {
  width: 100%;
  grid-column-gap: 70px;
  grid-row-gap: 40px;
  grid-template-rows: auto;
  grid-template-columns: 1.5fr 1fr;
  grid-auto-columns: 1fr;
  align-items: center;
  display: grid;
}

.work-list-item-image-bg {
  background-color: var(--white-smoke);
  justify-content: center;
  align-items: center;
  padding-top: 50px;
  display: flex;
  overflow: hidden;
}

.work-list-item-image {
  width: 80%;
}

.work-tags {
  letter-spacing: 3px;
  text-transform: uppercase;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 60px;
  font-size: 18px;
  display: flex;
}

.home-about-component {
  flex-direction: column;
  align-items: flex-start;
  display: flex;
}

.home-about-text-right {
  margin-bottom: 100px;
  margin-left: auto;
}

.home-about-image {
  width: 100%;
  height: 600px;
  max-width: 860px;
  object-fit: cover;
}

.contact-grid {
  grid-column-gap: 150px;
  grid-row-gap: 50px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.contact-item {
  border-bottom: 1px solid rgba(0, 0, 0, .3);
  justify-content: space-between;
  align-items: center;
  padding-top: 8px;
  padding-bottom: 8px;
  font-size: 24px;
  transition: color .2s;
  position: relative;
  overflow: hidden;
}

.contact-arrow {
  z-index: 1;
  width: 32px;
  justify-content: center;
  align-items: center;
  display: flex;
}

.contact-hover-div {
  z-index: 1;
  background-color: var(--black);
  transform-origin: 50% 100%;
  display: none;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.contact-item-inside {
  z-index: 2;
  justify-content: space-between;
  align-items: center;
  display: flex;
  position: relative;
}

.footer-up {
  border-bottom: 1px solid rgba(0, 0, 0, .3);
  justify-content: space-between;
  padding-bottom: 80px;
  display: flex;
}

.footer-contact-link-div {
  flex-direction: column;
  justify-content: space-between;
}

.link-with-underline {
  font-size: 18px;
  position: relative;
  overflow: hidden;
}

.link-with-underline.footer-contact-link {
  font-size: 74px;
  font-weight: 600;
}

.footer-links-column-wrap {
  grid-column-gap: 35px;
  grid-template: ". Area"
  / 1.5fr;
  grid-auto-columns: .25fr;
  display: block;
}

.footer-link-column {
  grid-column-gap: 16px;
  grid-row-gap: 32px;
  flex-direction: column;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  align-items: flex-start;
  display: flex;
}

.link {
  position: relative;
  overflow: hidden;
}

.link-text.absolute {
  position: absolute;
  top: 110%;
  bottom: auto;
  left: 0%;
  right: 0%;
}

.footer-down {
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 16px;
  display: flex;
}

.social-links-wrap {
  grid-column-gap: 18px;
  align-items: center;
  display: flex;
}

.social-link-item {
  flex: none;
  justify-content: center;
  align-items: center;
  transition: transform .2s;
  display: flex;
}

.social-link-item:hover {
  transform: translate(0, -3px);
}

.instructions-image {
  width: 100%;
  margin-top: 40px;
}

.work-cms-hero-component {
  grid-column-gap: 120px;
  grid-row-gap: 60px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.work-cms-hero-details-wrap {
  grid-row-gap: 42px;
  flex-direction: column;
  display: flex;
}

.work-cms-hero-detail-item {
  padding-bottom: 12px;
  position: relative;
}

.work-cms-services-wrap {
  flex-wrap: wrap;
  align-items: center;
  display: flex;
}

.work-cms-text-component {
  grid-column-gap: 16px;
  grid-row-gap: 50px;
  grid-template-rows: auto;
  grid-template-columns: .75fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.work-cms-images-list {
  grid-row-gap: 50px;
  flex-direction: column;
  display: flex;
}

.work-cms-hero-heading-wrap {
  padding-top: 10px;
  padding-bottom: 10px;
  overflow: hidden;
}

.work-up {
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 48px;
  display: flex;
}

.about-hero-img {
  width: 100%;
  height: 600px;
  object-fit: cover;
}

.about-hero-sticky-div {
  z-index: 1;
  min-height: 100vh;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.about-hero-img-wrapper {
  z-index: 2;
  width: 100%;
  max-width: 450px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
}

.about-hero-component {
  max-width: 760px;
  min-height: 200vh;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.about-text-component {
  grid-column-gap: 100px;
  grid-row-gap: 3rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  align-items: end;
  display: grid;
}

.stats-component {
  grid-column-gap: 80px;
  justify-content: center;
  align-items: center;
  display: flex;
}

.text-size-xlarge {
  font-size: 75px;
  font-weight: 600;
  line-height: 1;
}

.logos-section {
  overflow: hidden;
}

.logos-component {
  align-items: center;
  display: flex;
}

.logos-row-1 {
  flex: none;
  align-items: center;
  display: flex;
}

.logos-item {
  width: 150px;
  opacity: .6;
  flex: none;
  margin-right: 120px;
}

.logos-row-2 {
  flex: none;
  align-items: center;
  display: flex;
}

.about-component {
  grid-column-gap: 50px;
  grid-row-gap: 16px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  align-items: start;
  display: grid;
}

.about-image-left {
  width: 100%;
  height: 650px;
  object-fit: cover;
}

.about-right-wrapper {
  grid-row-gap: 48px;
  flex-direction: column;
  align-items: flex-start;
  display: flex;
}

.about-right-image {
  width: 100%;
  height: 320px;
  object-fit: cover;
}

.work-process-up {
  justify-content: space-between;
  align-items: center;
  margin-bottom: 120px;
  display: flex;
}

.work-process-main {
  grid-column-gap: 60px;
  grid-row-gap: 16px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  justify-content: space-between;
  align-items: flex-start;
  display: grid;
}

.work-process-item._2 {
  margin-top: 100px;
}

.work-process-item._3 {
  margin-top: 200px;
}

.work-process-item-line {
  width: 100%;
  height: 1px;
  background-color: rgba(0, 0, 0, .3);
  margin-top: 24px;
  margin-bottom: 20px;
}

.work-hero-up {
  justify-content: space-between;
  align-items: center;
  margin-bottom: 120px;
  display: flex;
}

.checkbox-label {
  margin-bottom: 0;
}

.contact-hero-up {
  max-width: 720px;
  margin-bottom: 75px;
}

.radio-button {
  flex: none;
  margin-top: 0;
  margin-left: 0;
  margin-right: 10px;
}

.radio-button.w--redirected-checked {
  background-color: #161616;
  border-style: none;
}

.contact-form-flex {
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 48px;
  display: flex;
}

.contact-form-flex.with-max-width {
  max-width: 700px;
  grid-column-gap: 50px;
  grid-row-gap: 24px;
  justify-content: flex-start;
}

.radio-button-field {
  color: rgba(22, 22, 22, .6);
  align-items: center;
  padding-left: 0;
  display: flex;
}

.contact-form-part {
  margin-bottom: 70px;
}

.error-message {
  color: #fff;
  text-align: center;
  background-color: #ff3737;
  border-radius: 10px;
  margin-top: 20px;
  padding: 20px;
}

.button-2 {
  grid-column-gap: 12px;
  color: #161616;
  text-align: center;
  background-color: #ffe43b;
  border-radius: 200px;
  justify-content: center;
  align-items: center;
  padding: 16px 40px;
  font-weight: 500;
  line-height: 1;
  display: flex;
  position: relative;
  overflow: hidden;
}

.contact-text-field {
  min-height: 48px;
  background-color: rgba(0, 0, 0, 0);
  border: 1px #000;
  border-bottom: 1px solid rgba(0, 0, 0, .6);
  margin-bottom: 0;
  padding-left: 0;
  font-size: 18px;
}

.contact-text-field:focus-visible {
  border-bottom-color: rgba(22, 22, 22, .6);
}

.contact-text-field[data-wf-focus-visible] {
  border-bottom-color: rgba(22, 22, 22, .6);
}

.contact-text-field.textarea {
  min-height: 96px;
}

.contact-text-field._48 {
  width: 48%;
}

.contact-form-block {
  margin-bottom: 0;
}

.success-message {
  color: #fff;
  background-color: #15b82e;
  border-radius: 10px;
}

.checkbox-field {
  color: rgba(22, 22, 22, .6);
  align-items: center;
  margin-bottom: 0;
  padding-left: 0;
  display: flex;
}

.checkbox {
  border-radius: 50%;
  flex: none;
  margin-top: 0;
  margin-left: 0;
  margin-right: 10px;
}

.checkbox.w--redirected-checked {
  background-image: linear-gradient(#161616, #161616);
  border-style: none;
}

.about-hero-heading-wrap, .work-hero-heading-wrap, .contact-hero-heading-wrap {
  padding-top: 10px;
  padding-bottom: 10px;
  overflow: hidden;
}

.seals {
  margin-top: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.email-contact-link {
  font-size: 55px;
  font-weight: 400;
}

@media screen and (max-width: 991px) {
  .styleguide-section {
    grid-template-columns: 1fr;
  }

  .max-width-full-tablet {
    width: 100%;
    max-width: none;
  }

  .margin-xxlarge {
    margin: 64px;
  }

  .margin-huge {
    margin: 80px;
  }

  .margin-xhuge {
    margin: 96px;
  }

  .margin-xxhuge {
    margin: 128px;
  }

  .padding-xxlarge {
    padding: 64px;
  }

  .padding-huge {
    padding: 80px;
  }

  .padding-xhuge {
    padding: 96px;
  }

  .padding-xxhuge {
    padding: 128px;
  }

  .padding-top {
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .padding-bottom {
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .padding-left {
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 0;
  }

  .padding-right {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
  }

  .padding-vertical {
    padding-left: 0;
    padding-right: 0;
  }

  .padding-horizontal {
    padding-top: 0;
    padding-bottom: 0;
  }

  .margin-top {
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .margin-bottom {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .margin-left {
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 0;
  }

  .margin-right {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
  }

  .margin-vertical {
    margin-left: 0;
    margin-right: 0;
  }

  .hide-tablet {
    display: none;
  }

  .show-tablet {
    display: block;
  }

  .license-item {
    grid-template-columns: 1fr;
  }

  .license-image {
    height: 320px;
  }

  .home-hero-component {
    grid-template-columns: 1fr;
  }

  .home-hero-heading-wrap {
    margin-right: 0%;
    padding-right: 0;
  }

  .home-hero-image-wrap {
    max-width: 700px;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
  }

  .hover-line {
    display: none;
  }

  .services-component, .work-list-item {
    grid-template-columns: 1fr;
  }

  .work-tags {
    margin-bottom: 30px;
  }

  .home-about-text-right {
    margin-top: 30px;
  }

  .contact-grid {
    grid-column-gap: 70px;
  }

  .contact-arrow {
    transform: rotate(-45deg);
  }

  .link-with-underline.footer-contact-link {
    font-size: 40px;
  }

  .work-cms-hero-component, .work-cms-text-component, .about-text-component {
    grid-template-columns: 1fr;
  }

  .stats-component {
    grid-column-gap: 50px;
  }

  .text-size-xlarge {
    font-size: 60px;
  }

  .logos-item {
    margin-right: 6rem;
  }

  .about-component {
    grid-row-gap: 50px;
    grid-template-columns: 1fr;
  }

  .about-image-left {
    height: 570px;
    max-width: 680px;
  }

  .about-right-wrapper {
    max-width: 500px;
    grid-row-gap: 40px;
    flex-direction: column-reverse;
    margin-left: auto;
  }

  .about-right-image {
    margin-bottom: 0;
  }

  .work-process-main {
    max-width: 580px;
    grid-row-gap: 70px;
    grid-template-columns: 1fr;
  }

  .work-process-item._2, .work-process-item._3 {
    margin-top: 0;
  }

  .heading {
    margin-right: 0;
    padding-right: 0;
  }
}

@media screen and (max-width: 767px) {
  h1 {
    font-size: 48px;
  }

  h2 {
    font-size: 38px;
  }

  h3 {
    font-size: 28px;
  }

  h4 {
    font-size: 22px;
  }

  .page-padding {
    padding-left: 20px;
    padding-right: 20px;
  }

  .heading-xlarge {
    font-size: 48px;
  }

  .heading-large {
    font-size: 38px;
  }

  .heading-medium {
    font-size: 28px;
  }

  .text-size-large {
    font-size: 25px;
  }

  .text-size-medium {
    font-size: 22px;
  }

  .button {
    padding-left: 30px;
    padding-right: 30px;
  }

  .max-width-full-mobile-landscape {
    width: 100%;
    max-width: none;
  }

  .padding-top {
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .padding-bottom {
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .padding-left {
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 0;
  }

  .padding-right {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
  }

  .padding-vertical {
    padding-left: 0;
    padding-right: 0;
  }

  .padding-horizontal {
    padding-top: 0;
    padding-bottom: 0;
  }

  .margin-top {
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .margin-bottom {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .margin-left {
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 0;
  }

  .margin-right {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
  }

  .margin-vertical {
    margin-left: 0;
    margin-right: 0;
  }

  .hide-mobile-landscape {
    display: none;
  }

  .show-mobile-landscape {
    display: block;
  }

  .license-image {
    height: 250px;
  }

  .instructions-list {
    padding-left: 20px;
  }

  .home-hero-image {
    height: 600px;
  }

  .work-list-item-image {
    width: 90%;
  }

  .home-about-text-right {
    margin-bottom: 80px;
  }

  .home-about-image {
    height: 500px;
  }

  .footer-up {
    grid-row-gap: 60px;
    flex-direction: column;
    align-items: flex-start;
  }

  .footer-down {
    grid-row-gap: 16px;
    flex-direction: column;
    align-items: flex-start;
  }

  .about-hero-img {
    height: 540px;
  }

  .stats-component {
    grid-row-gap: 60px;
    text-align: center;
    flex-direction: column;
    align-items: center;
  }

  .logos-item {
    margin-right: 5rem;
  }

  .about-component {
    grid-row-gap: 40px;
  }

  .about-image-left {
    height: 520px;
  }

  .work-process-up {
    grid-row-gap: 20px;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 80px;
  }

  .work-process-main {
    grid-row-gap: 60px;
  }

  .work-hero-up {
    grid-row-gap: 20px;
    flex-direction: column;
    align-items: flex-start;
  }

  .button-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media screen and (max-width: 479px) {
  h1 {
    font-size: 42px;
  }

  h2 {
    font-size: 32px;
  }

  h3 {
    font-size: 26px;
  }

  .heading-xlarge {
    font-size: 42px;
  }

  .heading-large {
    font-size: 32px;
  }

  .heading-medium {
    font-size: 26px;
  }

  .max-width-full-mobile-portrait {
    width: 100%;
    max-width: none;
  }

  .padding-top {
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .padding-bottom {
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .padding-left {
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 0;
  }

  .padding-right {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
  }

  .padding-vertical {
    padding-left: 0;
    padding-right: 0;
  }

  .padding-horizontal {
    padding-top: 0;
    padding-bottom: 0;
  }

  .margin-top {
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .margin-bottom {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .margin-left {
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 0;
  }

  .margin-right {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
  }

  .margin-vertical {
    margin-left: 0;
    margin-right: 0;
  }

  .hide-mobile-portrait {
    display: none;
  }

  .show-mobile-portrait {
    display: block;
  }

  .license-images-grid {
    grid-template-columns: 1fr;
  }

  .home-hero-heading-wrap {
    margin-right: 5%;
    padding-right: 0;
  }

  .home-hero-image {
    height: 500px;
  }

  .navbar-menu {
    grid-column-gap: 14px;
    font-size: 18px;
  }

  .work-cms-list {
    grid-row-gap: 100px;
  }

  .work-list-item-image-bg {
    padding-top: 30px;
  }

  .home-about-image {
    height: 420px;
  }

  .contact-grid {
    grid-row-gap: 30px;
    grid-template-columns: 1fr;
  }

  .link-with-underline.footer-contact-link {
    font-size: 30px;
  }

  .about-hero-img {
    height: 480px;
  }

  .logos-item {
    width: 8rem;
    margin-right: 3rem;
  }

  .about-image-left {
    height: 480px;
  }

  .contact-form-flex {
    grid-row-gap: 48px;
    flex-direction: column;
    align-items: flex-start;
  }

  .contact-text-field._48 {
    width: 100%;
  }
}

#w-node-_95b7fb1c-e8be-68c8-2c82-a981e5ed06ae-76df23e6, #w-node-b2d6eb70-ef01-004f-7e09-6fa5f59c2770-76df23e6, #w-node-_76e0a0b3-cf5c-3109-2da5-bfb18b5a4003-76df23e6, #w-node-_76e0a0b3-cf5c-3109-2da5-bfb18b5a4018-76df23e6, #w-node-_76e0a0b3-cf5c-3109-2da5-bfb18b5a401e-76df23e6 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_76e0a0b3-cf5c-3109-2da5-bfb18b5a4025-76df23e6 {
  justify-self: end;
}

#w-node-_76e0a0b3-cf5c-3109-2da5-bfb18b5a4028-76df23e6 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_76e0a0b3-cf5c-3109-2da5-bfb18b5a402f-76df23e6 {
  justify-self: end;
}

#w-node-c61c3643-eddf-465d-9a9b-eb6fb2d2c652-76df23e6 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-c61c3643-eddf-465d-9a9b-eb6fb2d2c659-76df23e6 {
  justify-self: end;
}

#w-node-_76e0a0b3-cf5c-3109-2da5-bfb18b5a4032-76df23e6 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_76e0a0b3-cf5c-3109-2da5-bfb18b5a4039-76df23e6 {
  justify-self: end;
}

#w-node-_76e0a0b3-cf5c-3109-2da5-bfb18b5a403c-76df23e6 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_76e0a0b3-cf5c-3109-2da5-bfb18b5a4043-76df23e6 {
  justify-self: end;
}

#w-node-cc73ddc4-8f57-adad-6f8a-8364065fc1cd-065fc1bd, #w-node-c8a9b103-5d43-ce87-7831-12c439ab055f-76df23ee, #w-node-_83fa2830-a68c-3230-2670-8e874be5d0d7-76df23ee, #w-node-_06b4a196-5c46-7d1c-6550-12a893e7853c-76df23ee, #w-node-_1cc056cf-361a-fc8e-a21b-7da946300a05-76df23ee, #w-node-_420ca943-adcb-2174-a70b-fc065e438cfc-76df23ee, #w-node-_420ca943-adcb-2174-a70b-fc065e438cfe-76df23ee, #w-node-_4df3200b-bd43-402f-150a-9b11f6cdee25-76df23ee, #w-node-_5a491814-615f-93ba-8016-60c851c53183-76df23f0, #w-node-_5a491814-615f-93ba-8016-60c851c5318e-76df23f0, #w-node-_5a491814-615f-93ba-8016-60c851c5318f-76df23f0, #w-node-_5a491814-615f-93ba-8016-60c851c53190-76df23f0, #w-node-_5a491814-615f-93ba-8016-60c851c5319f-76df23f0, #w-node-_5a491814-615f-93ba-8016-60c851c531ae-76df23f0, #w-node-f1279d25-367b-598a-fbe4-e9ab3d5fd967-76df23f3, #w-node-f0c3ee5f-b122-f947-77b1-2e49afb286ab-76df23f3, #w-node-c4473c1e-9ab4-c806-666c-f7058152abf8-76df23f3, #w-node-_38bddffc-acbd-5cb9-343c-de93e3e1dd17-76df23f3, #w-node-c5805373-f8a8-8f10-17d2-bd776cc846b1-76df23f3, #w-node-fef119ce-124f-c8d7-0f8f-b41d34cdd6d0-76df23f3, #w-node-_28e62a18-1190-3f63-be3e-666e41e64d60-76df23f3, #w-node-_25624d85-b254-9a04-fcae-2964b0013745-76df23f3, #w-node-_43d511c0-693c-742b-41fc-ac5afe518335-76df23f3, #w-node-beb39ac4-c2b0-f61d-1893-e6aebff83a88-76df23f3, #w-node-be797044-f9d5-4d35-5f66-891197e4acc2-76df23f3, #w-node-b4494447-dfdf-4288-aed5-46729782a20e-76df23f3, #w-node-_98252847-e01c-984f-c6cb-fe12b95df0b9-76df23f3, #w-node-_4ea63764-adc5-82fe-98f6-16df8b9fef4f-76df23f3, #w-node-_5932a75f-4dbc-b29d-54ae-dd9bc5430635-76df23f3, #w-node-fa32c886-5f7c-0382-16fb-dda76694dbfe-76df23f3, #w-node-ffbbb5c0-e286-c18d-a640-08e21494ee8d-76df23f3, #w-node-_37a4bcfa-6f42-a5cc-9572-2cd482ec682e-76df23f3, #w-node-_5029870e-8f70-cad1-4907-c78716fae644-76df23f3, #w-node-_63c93a92-a584-ae0b-1db5-c15e6ddf240a-76df23f3, #w-node-ac9b1a94-2407-e732-5a29-b9c811408e60-76df23f3, #w-node-f2f4f69a-8dd1-edfe-9e9d-750144da5c7c-76df23f3, #w-node-_2173982c-988d-5f3e-8d02-7888ee9c936f-76df23f3, #w-node-_222d75e9-7d77-8de7-87a3-b894ae0b9b8f-76df23f3, #w-node-_8653cdab-8cff-d9c4-1a03-a4c5d0d7f11a-76df23f3, #w-node-_6a17673d-77ac-ff3e-c8d4-6686b8d187de-76df23f3, #w-node-_22fe4dc2-74cd-4641-240c-c722947fb9b4-76df23f3, #w-node-_25e8d67d-f46d-aac2-4776-caf8e767908e-76df23f3, #w-node-_69f3e887-902b-f50c-8f3a-d3725d264411-76df23f3, #w-node-_0b1aff74-b83c-ac6b-41b4-c0a10a33c49d-76df23f3, #w-node-_11b48c1b-8ea0-d9b8-62b1-477c59ae9a07-76df23f3, #w-node-_6864597f-5513-b4d7-d0e4-85a49f7e7dbf-76df23f3, #w-node-_6f51f326-a1c7-1fc4-8401-26d35e90802e-76df23f3, #w-node-_898adcfe-b5b1-aecc-3be4-23d9a98e97ac-76df23f3, #w-node-_579669e4-ab17-d55a-652e-980630195814-76df23f3, #w-node-d4273f2b-dbf4-b33c-6c7c-fa233b89eb3c-76df23f3, #w-node-_487939e5-03da-74ff-79c7-548d437cc8ec-76df23f3, #w-node-_034c5045-2db9-d935-2d4e-9bec61faaf87-76df23f3, #w-node-a42d633c-7c1c-169f-8b6c-3bac4c9fe910-76df23f3, #w-node-af1115dc-7cb6-7ff5-6192-528471130e14-76df23f3, #w-node-ea65102a-d93d-3dc8-dce1-4de30ac6fb86-76df23f3, #w-node-cb47eef9-aa2b-3440-bdde-294ff6659ad4-76df23f3, #w-node-_892f2985-05b9-5268-b278-097caf35f0d8-76df23f3, #w-node-_8c22cdf0-7249-1d2c-bb0d-b8e6bd79d37e-76df23f3, #w-node-_55fd96dc-f386-8aec-d0d9-2673883b5a8a-76df23f3, #w-node-f2ab131e-3d60-ac8b-8510-1d592b02e9a3-76df23f3, #w-node-_03cf399c-5b66-12b7-7f0b-3f7da3d97c75-76df23f3, #w-node-_7bbbd3c5-0a1e-06bd-9c6b-bbab2b89695c-76df23f3, #w-node-e1b35fa8-9f08-874e-fc3f-9d514c816c14-76df23f3, #w-node-e1b35fa8-9f08-874e-fc3f-9d514c816c15-76df23f3, #w-node-e1b35fa8-9f08-874e-fc3f-9d514c816c16-76df23f3, #w-node-e1b35fa8-9f08-874e-fc3f-9d514c816c17-76df23f3, #w-node-_3698cb8c-4465-a422-e4f0-73c140f772d5-76df23f4 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}


